@import "public/styles/styles";

.title{
  @include medium-text;
  padding-left: 16px;
  font-size: 1.5rem;
  margin: 32px 0 32px;
}

.label{
  @include medium-text;
  color: $secondaryTextColor;
  padding-left: 16px;
  flex: 0.7;
  font-size: 1rem;
  margin: 0;
  min-width: 30%;
}

.content{
  flex: 1;
  margin-bottom: 16px;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  height: 100%;
}

.row{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 16px;
}

.bubbles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}