@import "public/styles/common";

.title{
  @include medium-text;
  font-size: 1.5rem;
}

.exerciseName{
  @include medium-text;
  font-size: 1rem;
  color: $textColor;
}

.input {
  max-width: 120px;
}

.content{
  padding: 16px;
}

.xSeparator {
  color: $secondaryTextColor;
  margin: 0 0.5vw;
}

.repsWeightContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}